html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
