.primary-nav {
  padding: 20px 0;

  @mixin atMedium {
    padding: 0;
  }

  &--pull-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin atMedium {
      display: flex;
    }
  }

  li {
    list-style: none;
    display: block;
    padding-right: 7px;

    @mixin atMedium {
      padding-left: 20px;
    }
  }

  li:last-child {
    padding-right: 0;
    @mixin atMedium {
      padding-right: 0;
    }
  }

  a {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: block;
    padding: 10px 8px;
    font-size: 1rem;
    background-color: rgba($orange, 0.5);

    @mixin atMedium {
      font-size: 1.125rem;
      padding: 12px 0;
      background-color: transparent;
      color: #777;
    }

    &.is-current-link {
      color: $orange;
    }
  }
}
